[program:vegdev]
directory = /usr/local/vegphilly/
user = {{ app_user }}
autorestart = true
command = {{ project_dir }}/supervisord_rundev.sh
redirect_stderr=true
stdout_logfile = /tmp/dev-access-error.log
